@import 'tailwindcss';

/* Base font size in the CRM */
html {
  font-size: 14px;
}

:root {
  --primary: #009e43;
}

@theme inline {
  --color-primary: var(--primary);
}

.bg-defra-green {
  background-color: #009e43;
}
